*{padding:0;margin:0;border:0;}
*,*:before,*:after{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
:focus,:active{outline:none;}
a:focus,a:active{outline:none;}
nav,footer,header,aside{display:block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display:none;}
button{cursor:pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration:none;}
a:hover{text-decoration:none;}
ul li{list-style:none;}
img{vertical-align:top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight:inherit;}

body{
	font-family: 'Merriweather', serif;
}

.wrapper {
    min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

.top {
	background: url('lab_5_pictures/main_pic.jpg')no-repeat;
	background-size: 100%;
	height: 765px;
}

.top__name {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 400px;
	height: 90px;
	margin-top: 20px;
	background-color: rgba(255, 255, 255, 0.7);
	color: rgb(35, 73, 131);
	user-select: none;
	float: left;
}

.top__name h1 {
	font-size: 60px;
	font-weight: bold;
	margin-left: 175px;
	margin-top: 5px;
}

.top__name p {
	font-size: 12px;
	margin-left: 175px;
}

.top__menu {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 700px;
	height: 40px;
	background-color: rgb(35, 73, 131);
}

.top__menu a {
	color: white;
	font-size: 18px;
}

.top__menu a:hover {
	filter: drop-shadow(0 0 10px white);
}

.top__mini_menu {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 300px;
	height: 40px;
	margin-left: 810px;
}

.top__mini_menu a {
	color: rgb(94, 94, 94);
	font-size: 18px;
}

.top__mini_menu a:last-child {
	color: rgb(35, 73, 131);
	font-weight: bold;
}

.top__content {
	display: flex;
	justify-content: space-around;
	margin: 200px auto;
}

.top__content_description,
.top__content_icons {
	display: flex;
	justify-content: space-around;
	width: 500px;
	height: 300px;
}

.top__content_icons {
	width: 400px;
}

.top__content_description_text {
	width: 450px;
	height: 300px;
	background-color: rgba(255, 255, 255, 0.7);
}

.top__content_description_text h1 {
	font-size: 24px;
	font-weight: 550;
	color: rgb(35, 73, 131);
	margin: 20px 10px;
}

.top__content_description_text p {
	margin: 20px 20px 20px 10px;
	font-size: 18px;
}

.top__content_icons_icons {
	display: grid;
	grid-template-columns: 145px 145px;
	grid-template-rows: 145px 145px;
	gap: 10px;
}

.top__content_icons_icons .icon:nth-child(1) {
	background: url('lab_5_pictures/mini_pic_1_1.png') no-repeat;
	background-size: 90%; 
	background-position: center;
	background-color: rgba(35, 73, 131, 0.8);
}

.top__content_icons_icons .icon:nth-child(2) {
	background: url('lab_5_pictures/mini_pic_1_2.png') no-repeat;
	background-size: 70%; 
	background-position: center;
	background-color: rgba(104, 165, 255, 0.7);
}

.top__content_icons_icons .icon:nth-child(3) {
	background: url('lab_5_pictures/mini_pic_1_3.png') no-repeat;
	background-size: 70%; 
	background-position: center;
	background-color: rgba(104, 165, 255, 0.7);	
}

.top__content_icons_icons .icon:nth-child(4) {
	background: url('lab_5_pictures/mini_pic_1_4.png') no-repeat;
	background-size: 70%; 
	background-position: center;
	background-color: rgba(35, 73, 131, 0.8);
}

.top__content_icons_icons .icon:hover {
	transform: scale(1.1);
}

.top__content_description_button button {
	background: url('lab_5_pictures/arrow_left.png') no-repeat;
}

.top__content_icons_button button {
	background: url('lab_5_pictures/arrow_right.png') no-repeat;
}

.top__content_description_button button,
.top__content_icons_button button {
	background-size: 50%; 
	background-position: center;
	width: 50px;
	height: 300px;
	background-color: rgba(255, 255, 255, 0.7);
}

.top__content_description_button button:hover,
.top__content_icons_button button:hover {
	background-color: rgba(255, 255, 255, 0.8);
}

.middle__header_line {
	display: grid;
	grid-template-columns: 400px auto;
	height: 50px;
	margin: 75px 0;
	background-color: rgba(235, 235, 235, 0.7);
}

.middle__header_line_blue {
	background-color: rgb(35, 73, 131);
}

.middle__header_line_blue p{
	color: white;
	font-size: 24px;
	font-weight: 550;
	margin: 10px 0 0 50%;
}

.middle__universities_container {
	display: flex;
	width: 80%;
	margin: 0 auto 50px;
	justify-content: space-between;
}

.university {
	display: flex;
	flex-direction: column;
	width: 23%;
}

.university img {
	width: 100%;
}

.university p {
	margin-top: 15px;
	font-size: 18px;
	text-align: justify;
}

.university a {
	margin: 10px 0;
	font-size: 24px;
	color: rgb(104, 165, 255);
}

.university button {
	align-self: flex-end;
	margin-top: 15px;
	font-size: 18px;
	color: rgb(104, 165, 255);
	background-color: white;
}

.middle__buttons {
	display: grid;
	width: 80%;
	grid-template-columns: 150px auto 150px;
	margin: 50px auto 75px;
}

.middle__buttons .pages {
	display: flex;
	justify-content: space-between;
	width: 16%;
	margin: 0 auto;
	float: left;
}

.middle__buttons .pages button {
	display: block;
	width: 30px;
	height: 30px;
	font-size: 18px;
	color: rgb(35, 73, 131);
	background-color:rgba(235, 235, 235, 0.7);
	box-shadow: 0 0 3px rgb(185, 185, 185);
}

.middle__buttons .pages button:hover {
	background-color: rgb(35, 73, 131);
	color: rgba(235, 235, 235, 0.7);
}

.middle__buttons .single_button {
	display: block;
	align-self: flex-end;
	width: 150px;
	height: 30px;
	font-size: 18px;
	background-color:white;
	color: rgb(104, 165, 255);
	border: 1px solid rgba(104, 165, 255, 0.5);
	box-shadow: 0 0 3px rgb(185, 185, 185);
}

.middle__buttons .single_button:hover {
	transform: scale(1.05);
}

.middle__globe_line {
	display: grid;
	grid-template-columns: 400px auto;
	grid-template-rows: 100px;
	margin-bottom: 50px;
}

.middle__globe_line img {
	object-fit: none;
	width: 100%;
	height: 100%;
	filter: contrast(1.3);
}

.middle__globe_line p {
	display: block;
	font-size: 20px;
	color: rgb(35, 73, 131);
	padding: 30px 130px 0 0;
	background-image: linear-gradient(90deg, rgba(136, 194, 221, 0.1), rgba(136, 194, 221, 0.3), rgba(136, 194, 221, 0.5));
	filter: contrast(1.3);
}

.middle_icons {
	display: flex;
	width: 80%;
	height: 100px;
	margin: 0 auto 30px;
	justify-content: space-around;
}

.middle_icons .icon {
	display: grid;
	grid-template-columns: 100px;
	grid-template-rows: 100px 20px;
}

.middle_icons .icon:nth-child(1) button {
	background: url('lab_5_pictures/mini_pic_1_1_blue.png') no-repeat;
	background-size: 100%; 
	background-position: center;
}

.middle_icons .icon:nth-child(2) button {
	background: url('lab_5_pictures/mini_pic_1_2_blue.png') no-repeat;
	background-size: 80%; 
	background-position: center;
}

.middle_icons .icon:nth-child(3) button {
	background: url('lab_5_pictures/mini_pic_1_3_blue.png') no-repeat;
	background-size: 80%; 
	background-position: center;
}

.middle_icons .icon:nth-child(4) button {
	background: url('lab_5_pictures/mini_pic_1_4_blue.png') no-repeat;
	background-size: 80%; 
	background-position: center;
}

.middle_icons .icon:nth-child(5) button {
	background: url('lab_5_pictures/mini_pic_1_5_blue.png') no-repeat;
	background-size: 75%; 
	background-position: center;
}

.middle_icons .icon:nth-child(6) button {
	background: url('lab_5_pictures/mini_pic_1_6_blue.png') no-repeat;
	background-size: 80%; 
	background-position: center;
}

.middle_icons .icon button:hover {
	transform: scale(1.1);
}

.middle_icons .icon p {
	font-size: 18px;
	font-weight: 550;
	margin-top: 10px;
	text-align: center;
}

.bottom__header_line {
	display: grid;
	grid-template-columns: 400px auto;
	height: 50px;
	margin: 75px 0;
	background-color: rgba(235, 235, 235, 0.7);
}

.bottom__header_line_blue {
	background-color: rgb(35, 73, 131);
}

.bottom__header_line_blue p{
	color: white;
	font-size: 24px;
	margin: 10px 0 0 50%;
}

.bottom__advert {
	display: flex;
	justify-content: space-between;
	width: 80%;
	margin: 0 auto 40px;
}

.bottom__advert .post {
	display: grid;
	grid-template-columns: 30px 210px;
	grid-template-rows: 45px auto;
	gap: 15px;
	font-size: 18px;	
}

.bottom__advert .post .date {
	text-align: center;
	color: rgb(35, 73, 131);
	grid-column: 1/2;
	grid-row: 1/2;
}

.bottom__advert .post .date .day {
	font-size: 32px;
	font-weight: bold;
}

.bottom__advert .post .date .month {
	font-size: 14px;
}

.bottom__advert .post a {
	font-size: 24px;
	font-weight: 550;
	color: rgb(35, 73, 131);
	grid-column: 2/3;
	grid-row: 1/2;
}

.bottom__advert .post p {
	text-align: justify;
	grid-column: 2/3;
	grid-row: 2/3;
}